body, html {
  display: block;
  background-color: rgb(57, 58, 60);
  background-image: url(http://subtlepatterns.com/patterns/stardust.png);
  background-repeat: repeat;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.left-pane {
  width: 49%;
  height: 100%;
  min-height: 650px;
  float: left;
  position: relative;
}
.divider {
  width: 2%;
  height: 100%;
  float: left;
  min-height: 250px;
  margin-top: 100px;
  border-radius: 10px;
  background-color: #c1cbf5;
  position: relative;
  word-break: break-all;
}
.fuckit {
  display: none;
}
.right-pane {
  width: 49%;
  height: 100%;
  min-height: 650px;
  float: left;
  position: relative;
}
.teeth {
  position: fixed;
  width: 55.7%;
  top: 400px;
  margin: 0;
  height: 200px;
  margin-left: 23.1%;
  list-style: none;
  padding: 0;
  vertical-align: top;
}
.down-teeth {
  top: 480px;
}
.tooth img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.tooth {
  width: 115px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 15px;
  margin: 10px 2px;
  float: left;
  position: static;
  background-color: rgb(242, 226, 136);
  font-family: fantasy;
}
.tooth:hover {
  background-color: #000;
}
.up-tooth {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.down-tooth {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.tooth-link {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-family: Inconsolata;
  color: #000;
  font-size: large;
  text-decoration: none;
}
.tooth-link:hover {
  color: white;
}
.left-eye {
  background-color: transparent;
  border: 25px rgb(127, 224, 108) solid;
  border-radius: 50%;
  width: 200px;
  cursor: pointer;
  height: 200px;
  vertical-align: middle;
  line-height: 200px;
  text-align: center;
  color: white;
  font-family: Inconsolata;
  font-size: x-large;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 350px;
}
.left-eye-text, .right-eye-text {
  color: white;
  text-decoration: none;
  display: block;
  width:100%;
  height:100%;
}
.right-eye {
  background-color: transparent;
  border: 25px rgb(255, 104, 83) solid;
  border-radius: 50%;
  width: 200px;
  cursor: pointer;
  height: 200px;
  vertical-align: middle;
  line-height: 200px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: Inconsolata;
  font-size: x-large;
  margin: 0 auto;
  margin-top: 100px;
  margin-right: 350px;
}
.big-grin {
  animation-duration: 1.2s;
  animation-name: bigGrin;
}
@keyframes bigGrin {
  from {
    margin-top: 10px;
  }
  to {
   margin-top: -35px;
 }
}
.small-grin {
  animation-duration: 1.2s;
  animation-name: smallGrin;
}
@keyframes smallGrin {
  from {
    margin-top: 10px;
  }
  to {
   margin-top: -18px;
 }
}
.no-grin {
  animation-duration: 1.5s;
  animation-name: noGrin;
}
@keyframes noGrin {
  from {
    margin-top: 10px;
  }
  to {
   margin-top: -5px;
 }
}
.mouth {
  animation-duration: 1.5s;
  animation-name: mouth;
}
@keyframes mouth {
  from {
    margin-top: 0;
  }
  to {
   margin-top: 35px;
 }
}
