$toothShadow: 0px 0px 5px 1px #D9D9D9;
$toothShadow: 0px 0px 5px 1px rgb(13, 8, 4);
$toothHoverShadow: 0px 0px 5px 1px rgb(6, 202, 119);
$redShadow: 0px 0px 5px 1px #A13636;
$greenShadow: 0px 0px 5px 1px #77C572;
$blueShadow: 0px 0px 5px 1px #6EC4B8;
$eyeColor: 25px transparent solid;
$bgUrl: "../assets/c.jpg";
$bgHoverUrl: "../assets/nami.png";
$toothFont: 'Josefin Sans', 'PT Mono';
body, html {
  display: block;
  overflow: auto;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  color: lighten(red, 10%);
  padding: 0;
  background-color: $toothHoverShadow !important;
  background-image: url($bgUrl);
  background-repeat: no-repeat;
  background-size: 1366px 700px;
  color: lighten(red, 10%);
  font-family: $toothFont;
}
#body-text {
  font-size: x-large;
  color: #FFCE0C;
  width: 75%;
  position: fixed;
  margin: 12px;
  display: block;
}
a {
  color: rgb(249, 240, 186);
  display: block;
  text-align: center;
  line-height: 120px;
  font-size: x-large;
  text-decoration: none;
}
ul {
  position: fixed;
  top: 0;
  right: 5px;
  width: 270px;
  height: auto;
  list-style: none;
  li {
    display: inline-block;
    margin: 5px;
    width: 121px;
    height: 121px;
    border-radius: 7px;
    background-color: rgba(#211717, 0.9);
    &:hover {
      animation: darken .6s forwards;
    }
  }
}
@keyframes darken {
  to {
    background-color: rgba(#000000, 0.95);
    color: rgb(244, 228, 124);
  }
}
