body, html {
  display: block;
  overflow: auto;

  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  // background-color: rgb(14, 35, 43);

  background-color: rgb(18, 6, 18);

  font-family: 'Sawasdee';
}
a {
  display: block;

  text-align: center;
  text-decoration: none;

  color: lightslategrey;

  font-size: large;
  font-weight: bold;
  line-height: 60px;
}
.active {
  position: relative;

  display: block;

  width: 40%;
  height: auto;
  margin: 1% 30%;
  padding: 0;

  list-style: none;
  li {
    float: left;

    width: 24%;
    height: 60px;
    margin-left: 1%;
    &:hover, &:focus {
      animation: lighten .5s forwards;
    }
  }
  span {
      float: right;

      width: 18px;
      height: 18px;
      margin-top: -58px;
      margin-right: 12px;
      padding: 0;

      text-align: center;

      color: rgb(18, 6, 18);
      border-radius: 5px;
      background-color: rgba(188, 198, 204, 0.65);

      font-size: medium;
      font-weight: 900;
      line-height: 22px;
  }
}
quote {
  position: relative;

  display: block;

  width: 40%;
  margin: 12% 25% 0 25%;
  padding: 0 5%;

  text-align: center;

  color: crimson;

  font-family: 'Colleged';
  font-size: 80px;
}
.notes {
  position: relative;

  display: block;

  width: 40%;
  margin: 1% 30% 0 30%;
  padding: 20px 0;

  text-align: center;

  color: #EFF1C5;
  outline: none;

  font-family: 'Sawasdee';
  font-size: large;
  font-weight: bold;
  &:focus {
    background-color: rgba(#fff, .1);
  }
}
