@mixin nomp {
  margin: 0;
  padding: 0;
}
// discovery
// alpha
// beta
// live
$borderRadius: 0px;
$headerButtonSize: 13pt;
$borderShadow: 0.5px 0.5px 1px 0 gray;
$bg: rgba(215, 215, 215, 0.76);

body {
  position: relative;
  overflow: auto;
  background-color: $bg;
  font-family: 'Lato';
  width: 280px;
  @include nomp;
}
* a {
  text-decoration: none;
  color: #000;
}
.header-button {
  background-color: transparent;
  // margin: 5px 0;
  width: 50px;
  height: 35px;
  font-size: 13pt;
  font-family: 'Lato';
  line-height: $headerButtonSize;
  border-radius: $borderRadius;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  color: #fff;
}
.header-box {
  width: 100%;
  position: relative;
  height: 35px;
  display: block;
  @include nomp;
  box-shadow: 0.5px 0.5px 1px 0 gray;
  .selected-element {
    width: 180px;
    height: 35px;
    border: 0;
    font-size: 13pt;
    background-color: #fff;
    border-radius: $borderRadius;
    text-align: center;
    @include nomp;
  }
  .back-button {
    @extend .header-button;
    float: left;
    background-color: rgb(139, 139, 139);
  }
  .save-button {
    @extend .header-button;
    float: right;
    background-color: rgb(4, 179, 93);
  }
}
$elSelHov: #ececeb;
$textSize: 12pt;
$checkedC: #89f786;
.element-select, .style-select {
  position: relative;
  width: 100%;
  overflow: hidden;
  .style-parent, ul {
    width: 100%;
    @include nomp;
    .element, .style {
      width: 276px;
      text-align: center;
      height: 30px;
      margin: 2px;
      border-radius: $borderRadius;
      background-color: #fff;
      cursor: pointer;
      font-size: $textSize;
      line-height: 30px;
      &:hover {
        background-color: $elSelHov;
      }
    }
    input[type="checkbox"] {
      height: 25px;
      width: 25px;
      left: 0;
      background: #A9A9A9;
      -webkit-appearance: inherit;
      position: absolute;
      outline: 0;
      cursor: pointer;
      box-shadow: 0.5px 0.5px 1px 0 gray;
      margin: 2.4px 5px;
      border-radius: $borderRadius;
      &::after {
        content: "off";
        font-family: Ubuntu;
        color: #fff;
        text-align: center;
        line-height: 25px;
        display: block;
      }
      &:checked {
        background: $checkedC;
        &::after {
          content: "on";
          color: #000;
        }
      }
    }
  }
}
.style-select {
  width: 100%;
  position:  absolute;
  top: 35px;
  display: block;
  right: -100%;
  height: auto;
  .style-controls {
    border-radius: $borderRadius;
    background-color: #fff;
    width: 256px;
    margin: 2px;
    padding: 10px 10px 45px 10px;
    &:not(.active-controls) {
      display: none;
    }
  }
}
.dark-buttons {
  @extend .header-button;
  font-size: 20px;
  font-family: 'Lato';
  background-color: lighten(#37424E, 25%);
  &.bold {
    text-transform: uppercase;
    font-weight: bold;
  }
  &.italics {
    font-style: italic;
  }
  &.underline {
    text-decoration: underline;
  }
  &.overline {
    text-decoration: overline;
  }
  &.line-through {
    text-decoration: line-through;
  }
  &.active, &:active {
    background-color: #37424E;
  }
}
@keyframes a3to1col {
  from {
    right: -200%;
  }
  to {
    right: 0
  }
}
.control-select {
  width: 256px;
  position:  absolute;
  top: 35px;
  border-radius: $borderRadius;
  margin: 2px;
  padding: 10px;
  padding-bottom: 35px;
  background-color: #fff;
  display: block;
  right: -200%;
  height: auto;
}
.a3to1col {
  animation: 1s a3to1col forwards;
}
.formgroup {
  margin: 5px 0;
  padding: 5px;
  label {
    display: block;
    text-align: left;
    margin-left: 5px;
    text-align: center;
    height: 25px;
  }
  input, select {
    background-color: #CBD0EA;
    border-radius: $borderRadius;
    text-indent: 5px;
    border: 0;
    width: 100%;
    text-align: center;
    outline: 0;
    text-indent: 5px;
    height: 25px;
    display: block;
    &:focus {
      background-color: #699bd1;
    }
  }
}
.position-table {
  margin: auto;
  text-align: center;
  td {
    width: 45px;
    height: 20px;
    border: 1px solid #999;
    cursor: pointer;
    &:hover {
      background-color: #1ab2c1;
      color: #fff;
      &::after {
        content: "here";
      }
    }
  }
  tr[data-row="center"] td[data-stick="center"] {
    &::after {
      content: "stick";
    }
  }
}
.position-tab {
  text-align: center;
}
.move-box {
  text-align: center;
  margin-top: 15px;
  td {
    width: 45px;
    height: 20px;
    border: 1px solid #999;
    cursor: pointer;
    &:hover {
      background-color: #1ab2c1;
      color: #fff;
    }
  }
  .hidden-cell {
    border: none;
    cursor: default;
    &:hover {
      background-color: transparent;
    }
  }
  .arrow-up {
    &::after {
      content: "up";
    }
  }
  .arrow-down {
    &::after {
      content: "down";
    }
  }
  .arrow-left {
    &::after {
      content: "left";
    }
  }
  .arrow-right {
    &::after {
      content: "right";
    }
  }
}
.arrow-table {
  margin: auto;
}
.slide-left {
  animation: 0.75s slideLeft forwards;
}
.slide-right {
  animation: 0.75s slideRight forwards;
}
.slide-from-right {
  animation: 0.75s slideFromRight forwards;
}
.slide-from-left {
  animation: 0.75s slideFromLeft forwards;
}
@keyframes slideLeft {
  from {
    left:0;
  }
  to {
    left: -100%;
  }
}
@keyframes slideRight {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
@keyframes slideFromRight {
  to {
    right: 0;
  }
}
@keyframes slideFromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
